<h1><%=@movie.title%></h1>
<%= link_to 'Edit This Movie', edit_movie_path(@movie)%>
<%= link_to 'Delete This Movie', movie_path(@movie), :data => {
  :confirm => "Are you sure?",
  :method => 'delete'} %>


<hr>
<% @movie.reviews.each do |review|%>
  <h3><%=review.title%></h3>
  <p><%=review.description%></p>
  <p><%=review.author%></p>
  <p><%=review.rating%></p>
  <hr>
<%end%>
