<h1><%=@movie.title%></h1>



<hr>
<% @movie.reviews.each do |review|%>
  <h3><%=review.title%></h3>
  <p><%=review.description%></p>
  <p><%=review.author%></p>
  <p><%=review.rating%></p>
  <hr>
<%end%>
